@font-face {
  font-family: 'DKPardesi';
  src: url('/fonts/DKPardesi.otf');
 }

:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'DKPardesi';
  max-width: 100vw;
  max-height: 100vh;
}

html {
  background-image: url('../../public/background.png');
}
